{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Blaime!</h1>
        <p>This is site is tailored made for Black Gaming and Anime startups</p>
        <p><a class="btn btn-success btn-lg" href="/about" role="button">Learn more About Us &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Upload Gaming Videos</h2>
          <p>Take the time to share with others your awesome gaming footage </p>
          <p><a class="btn btn-default" href="/listing/new" role="button">Upload Here &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Upload Anime</h2>
          <p>Know about any cool Anime? Let us know here </p>
          <p><a class="btn btn-default" href="#" role="button">Upload Here &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>View Uploaded videos</h2>
          <p>Check out the content thats been added to the site!</p>
          <p><a class="btn btn-default" href="/listing/show/1" role="button">Watch here &raquo;</a></p>
        </div>
      </div>
      <br >
          {% for x in listings %}
          <div class="col-md-3">
              <div class="thumbnail">
                  <div class="caption">
                 <h3><a href="{{ url_for('listing_show', listing_id=listing.id) }}">{{ listing.name }}</a></h3>
                    <p>{{ listing.video }}</p>
                    <p>”listed by name"</p>
              </div>
              </div>
          </div>
            {% endfor %}
     </div>
    </div>
{% endblock %}
